{% extends 'site/base.html' %}
{% import 'site/macros.html' as macros with context %}

{% block title %}Forgot Password {% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <div class="login-panel panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Recover Password</h3>
                </div>
                <div class="panel-body">
                {{ macros.render_form(forgot_password_form, title=gettext('Your Email'), submit_text=gettext('Recover Your Password')) }}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
