{% extends 'admin/master.html' %}
{% block title %}{{model.__class__.__name__}} - Manage Versions{%endblock%}
{% block navlinks %}{% endblock %}
{% block brand%}
<h1>{{model.title}} Versions <span class="badge">{{versions|length}}</span></h1>
{%endblock%}
{% block body %}
<div class="col-md-10 col-sm-12">
<ul class="list-group">
{% for v in versions %}
<li class="list-group-item {% if loop.first %}active{%endif%}">
{% if loop.first %}
<span class="fa fa-lg fa-2x fa-check-circle pull-right"></span>
{% endif %}
{% if loop.last %}
<h4 class="list-group-item-heading"> Added ({{v.updated|pretty_date}}) on {{v.updated}}</h4>
<h5>Added by: <span class="bold">{{v.author.profile.name}}</span></h5>
<h5>Initial Version </h5>
{% else %}
<h4 class="list-group-item-heading">Changed ({{v.updated|pretty_date}}) On {{v.updated}}</h4>
<h5>Changed by: <span class="bold">{{v.author.profile.name}}</span></h5>
<h5>Changed Attributes Are:</h5>
<ul class="list list-inline">
{% for attr in v.changeset.keys() %}
<li>{{model.__mapper__.columns[attr].info['label']}}</li>
{% endfor %}
</ul>
<ul classs="btn-group" style="margin-top:25px;">
<a href="{{ url_for(admin_view.endpoint~'.versioning_diff', pk=model.id, version_id=v.transaction_id) }}" class="btn btn-sm btn-primary"><span class="fa fa-desktop"></span> View Diff</a>
<a href="#" class="btn btn-sm btn-danger"><span class="fa fa-trash"></span> Revert</a>
</ul>
{% endif %}
</li>
{% endfor %}
</ul>
</div>
{% endblock %}