{% macro render_page(page, active_page) %}
{% with active_class='active' if (page==active_page or active_page in page.children) or ''%}
{% with page_html_id=page.slug|unique_string %}
{% if page.children %}
<li class="nav-item dropdown {{active_class}}">
<a class="nav-link dropdown-toggle" href="{{page.slug_path}}" id="{{ page_html_id }}" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{page.title}} <i class="fa fa-caret-down"></i></a>
<div class="dropdown-menu" aria-labelledby="{{ page_html_id }}">
{% for child in page.children %}
<a class="dropdown-item {{active_class}}" href="{{child.url}}">{{child.title}}</a>
{% endfor %}
</div>
</li>
{% else %}
<li  class="nav-item {{active_class}}"><a class="nav-link" href="{{page.url}}">{{page.title}}</a></li>
{% endif %}
{% endwith %}
{% endwith %}
{% endmacro %}

{% macro page_menu(pages, active_page) %}
{% for page in pages %}
{{render_page(page, active_page)}}
{% endfor %}
{% endmacro %}

{% macro render_errors_and_description(field) %}
<div id="{{field.id|unique_string ~ 'desc' }}">
<small class="form-text text-muted">{{field.description}}</small>
{% for error in field.errors %}
<div class="invalid-feedback">
  {{error}}
</div>
{% endfor %}
</div>
{% endmacro %}

{% macro render_field(field) %}
  <div class="form-group">
  <label for="{{field.id}}">{{field.label.text}}</label>
    {{field(**{"class":"form-control", "aria-describedby": field.id|unique_string ~ 'desc'}) }}
    {{render_errors_and_description(field) }}
</div>
{% endmacro %}

{% macro render_checkbox(checkbox) %}
<div class="form-group">
  <div class="custom-control custom-checkbox">
    {% with check_html_id=checkbox.id|unique_string %}
    <input type="checkbox" class="custom-control-input" name={{checkbox.name}} id="{{ check_html_id }}">
    <label class="custom-control-label" for="{{ check_html_id }}">{{checkbox.label.text}}</label>
    {{render_errors_and_description(checkbox)}}
    {% endwith %}
  </div>
</div>
{% endmacro %}

{% macro render_radio(radio) %}
<fieldset>
<legend>{{radio.label}}</legend>
<div class="form-group">
{% for input in radio %}
{% with input_html_id=input.id|unique_string %}
  <div class="custom-control custom-radio">
  <input class="custom-control-input" type="radio" name="{{ input.name }}" id="{{input_html_id}}" value="{{ input.value}}">
  <label class="custom-control-label" for="{{input_html_id}}">{{ input.label }}</label>
</div>
{% endwith %}
{% endfor %}
</div>
</fieldset>
{% endmacro %}

{% macro render_select(select) %}
{% with select_id=select.id|unique_string %}
<div class="form-group">
  <label for="{{select_id}}">{{select.label}}</label>
  <select class="custom-select" id="{{select_id}}">
  {% for val, label, selected in select.iter_choices() %}
    <option value="{{ val }}">{{label}}</option>
  {% endfor %}
  </select>
</div>
{% endwith %}
{% endmacro %}


{% macro render_form(form, action=None, title='', submit_text='Submit') %}
<form role="form" action="{{action or request.url}}" method="post" enctype="multipart/form-data">
    <legend>{{title|safe}}</legend>
    {% for field in form %}
      {% if field.widget.input_type == 'hidden' %}
        {{field}}
      {% else %}
      {% if field.type=='BooleanField' %}
        {{render_checkbox(field) }}
      {% elif field.type == 'RadioField' %}
        {{render_radio(field) }}
      {% elif field.type == 'SelectField' %}
        {{render_select(field) }}
      {% else %}
      {{ render_field(field) }}
    {% endif %}
    {% endif %}
    {% endfor %}
    <div class="form-row py-3">
      <div class="form-group">
        <input type="submit" class="btn btn-info" value="{{submit_text}}" />
      </div>
    </div>
</form>
{% endmacro %}

{% macro messages() %}
  {% with messages = get_flashed_messages(with_categories=True) %}
    {% if messages %}
      {% for category, m in messages %}
        {% if category %}
        {% set mapping = {'message': 'info', 'error': 'danger'} %}
        <div class="alert alert-{{ mapping.get(category, category) }} alert-dismissable">
        {% else %}
        <div class="alert alert-dismissable">
        {% endif %}
          <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
          {{ m }}
        </div>
      {% endfor %}
    {% endif %}
  {% endwith %}
{% endmacro %}

{% macro render_tree_branch(branch) %}
<li><a href="{{branch.url}}">{{branch.title}}</a></li>
{% if branch.children %}
<ul class=list-unstyled">
{% for b in branch.children %}
{{render_tree_branch(b)}}
{% endfor %}
</ul>
{% endif %}
{% endmacro %}

{% macro render_footer_tree(pages) %}
{% for page in pages %}
<div class="col-lg-3 col-md-4">
  <ul class="list-unstyled footer-tree">
    <li><a href="#">{{page.title}}</a></li>
    {% if page.children %}
    <ul class="list-unstyled">
    {% for branch in page.children %}
      {{render_tree_branch(branch) }}
    {% endfor %}
    </ul>
    {% endif %}
  </ul>
</div>
{% endfor %}
{% endmacro %}
