<li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false" role="button" aria-haspopup="true"><i class="fa fa-bell"></i> <span class="sr-only">{{_trans('Notifications')}}</span><b class="caret"></b></a>
    <ul class="dropdown-menu alert-dropdown">
        <li>
            <a href="#">Sample Notification <span class="label label-primary">(TBD)</span></a>
        </li>
    </ul>
</li>
<li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
    <span class="sr-only">{{_trans('User options')}}</span>
    {% if not current_user.profile.image_path %}
    <i class="fa fa-user"></i>
    {% else %}
    <img class="img-circle" src="{{current_user.profile.image.src}}" style="max-width:25px;max-height:25px;" />
    {% endif %}
    {{' ' ~ current_user.profile.name}} <b class="caret"></b>
    </a>
    <ul class="dropdown-menu">
        <li class="message-preview">
        <div class="media">
          <div class="media-left">
              <img class="media-object img-rounded img-circle profile-dropdown" src="{% if current_user.profile.image_path %}{{current_user.profile.image.src}}{%endif%}" alt="Your Profile Picture">
          </div>
          <div class="media-body">
            <h5class="media-heading"><strong>{{current_user.profile.name}}</strong></h5>
          <p class="small">{{current_user.profile.bio}}</p>
          </div>
        </div>
        </li>
        <li>
            <a href="#"><i class="fa fa-fw fa-user"></i> {{_trans('Edit Your Profile')}}</a>
        </li>
        <li>
            <a href="#"><i class="fa fa-fw fa-gear"></i> {{_trans('Edit Your Account')}}</a>
        </li>
        <li class="divider"></li>
        <li>
            <a href="{{url_for('security.logout')}}"><i class="fa fa-fw fa-power-off"></i> {{ _trans('Log Out')}}</a>
        </li>
    </ul>
</li>