.navbar-right {
	margin-right: 1rem;
}
#wrapper {
	margin: 60px 6px 18px 6px;
}
@media (min-width: 768px) {
	#wrapper {
		margin: 6rem 1rem 0 1rem;
	}
}
footer {
  background: rgb(116, 50, 124);
  padding: 50px 0 65px;
}
footer .list-inline a {
  color: #444444;
}
footer .list-inline {
  margin: 0;
  padding: 0;
}
footer .copyright {
  color: #eee;
  font-size: 14px;
  text-align: center;
  margin-bottom: 0;
}
img.author-profile-picture {
	max-width: 120px;
	max-height: 90px;
}
.post-content {
	margin-top: -5em;
}
.footer-tree li a {
	color: rgb(251, 225, 255);
	font-size: 90%;
}
ul ul,
ul ol {
	margin-left: 10px;
}