.editable-container {
	margin: 4px;
}
.editable-content {
	transition: all .2s ease-in-out;
}
.editable-trigger {
	margin: 3px;
	position: relative;
	bottom: 70%;
	left: 90%;
	border: none;
	outline: none;
}
.editable-trigger:hover,
.editable-trigger:focus {
	border: none;
	outline: none;
	background: rgba(230, 230, 230, .5);
}
.btn.editable-submit, .btn.editable-cancel {
	padding: 5px 7px 5px;
}


.editableform .form-control {
	width: 18em;
}
