
{% macro render_page(page, active_page) %}
{% with active_class='active' if (page==active_page or active_page in page.children) or ''%}
{% if page.children %}
<li class="dropdown {{active_class}}">
<a class="dropdown-toggle" href="#" data-toggle="dropdown" aria-expanded="false">{{page.title}} <i class="fa fa-caret-down"></i></a>
<ul class="dropdown-menu">
<li class="{{active_class}}"><a href="{{page.url}}">{{page.title}}</a></li>
{% for child in page.children %}
<li  class="{{active_class}}"><a href="{{child.url}}">{{child.title}}</a></li>
{% endfor %}
</ul>
</li>
{% else %}
<li  class="{{active_class}}"><a href="{{page.url}}">{{page.title}}</a></li>
{% endif %}
{% endwith %}
{% endmacro %}

{% macro page_menu(pages, active_page) %}
{% for page in pages %}
{{render_page(page, active_page)}}
{% endfor %}
{% endmacro %}

{% macro render_errors_and_description(field) %}
<div id="{{field.id+"desc"}}">
<p class="help-block text-info">{{field.description}}</p>
{% for error in field.errors %}
  <p class="help-block text-danger">{{error}}</p>
{% endfor %}
</div>
{% endmacro %}

{% macro render_field(field) %}
<div class="form-group {% if field.errors%}has-error{%endif%}">
  <label for="{{field.id}}" class="control-label">{{field.label.text}}</label>
  <div >
    {{field(**{"class":"form-control", "aria-describedby": field.id+"desc"}) }}
    {{render_errors_and_description(field) }}
  </div>
</div>
{% endmacro %}

{% macro render_checkbox(checkbox) %}
<div class="checkbox">
  <label>{{checkbox(**{"aria-describedby": checkbox.id+"desc"})}} {{checkbox.label.text}}</label>
</div>
  {{render_errors_and_description(checkbox)}}
{% endmacro %}

{% macro render_radio(radio) %}
<div class="form-group">
  <fieldset>
  <legend class="control-label h5" >{{radio.label.text}}</legend>
  <div class="col-md-offset-1">
  {% for r in radio %}
    <div class="radio">
      <label>
        {{r}} {{r.label.text}}
      </label>
    </div>
  {% endfor %}
  {{render_errors_and_description(radio)}}
</div>
</div>
</fieldset>
{% endmacro %}

{% macro render_form(form, action=None, title='', submit_text='Submit') %}
<form class="form-horizontal" action="{{action or request.url}}" method="post" enctype="multipart/form-data">
  <fieldset>
    <legend>{{title|safe}}</legend>
    {% for field in form %}
      {% if field.widget.input_type == 'hidden' %}
        {{field}}
      {% else %}
      {% if field.widget.input_type=='checkbox' %}
        {{render_checkbox(field) }}
      {% elif field.option_widget %}
        {{render_radio(field) }}
      {% else %}
      {{ render_field(field) }}
    {% endif %}
    {% endif %}
    {% endfor %}
    <div class="form-group">
      <div class="col-lg-8">
        <input type="submit" class="btn btn-info" value="{{submit_text}}" />
      </div>
    </div>
  </fieldset>
</form>
{% endmacro %}

{% macro messages() %}
  {% with messages = get_flashed_messages(with_categories=True) %}
    {% if messages %}
      {% for category, m in messages %}
        {% if category %}
        {% set mapping = {'message': 'info', 'error': 'danger'} %}
        <div class="alert alert-{{ mapping.get(category, category) }} alert-dismissable">
        {% else %}
        <div class="alert alert-dismissable">
        {% endif %}
          <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
          {{ m }}
        </div>
      {% endfor %}
    {% endif %}
  {% endwith %}
{% endmacro %}

{% macro render_tree_branch(branch) %}
<li><a href="{{branch.url}}">{{branch.title}}</a></li>
{% if branch.children %}
<ul class=list-unstyled">
{% for b in branch.children %}
{{render_tree_branch(b)}}
{% endfor %}
</ul>
{% endif %}
{% endmacro %}

{% macro render_footer_tree(pages) %}
{% for page in pages %}
<div class="col-lg-3 col-md-4">
  <ul class="list-unstyled footer-tree">
    <li><a href="#">{{page.title}}</a></li>
    {% if page.children %}
    <ul class="list-unstyled">
    {% for branch in page.children %}
      {{render_tree_branch(branch) }}
    {% endfor %}
    </ul>
    {% endif %}
  </ul>
</div>
{% endfor %}
{% endmacro %}
