.editable-content:hover {
	background: rgba(120, 120, 220, .5);
}
.editable-content {
	transition: all .2s ease-in-out;
}
.editable-trigger {
	margin: 3px;
	position: relative;
	bottom: 70%;
	left: 90%;
	border: none;
	outline: none;
}
.editable-trigger:hover,
.editable-trigger:focus {
	border: none;
	outline: none;
	background: rgba(230, 230, 230, .5);
}
.btn.editable-button {
	display: inline;
	padding: 6px 8px 6px;
	margin: 3px;
}

.inline-edit-form,
.inline-edit-form input,
.inline-edit-form textarea,
.inline-edit-form select {
	background: transparent !important;
	color: inherit !important;
	font: inherit !important;
}
