{% extends 'security/base.html' %}
{% import 'starlit/contrib/bs4/macros.html' as macros with context %}


{% block sub_title %}Login{% endblock %}

{% block content %}
<div class="card card-login mx-auto mt-5">
  <div class="card-header">Login</div>
  <div class="card-body">
    <form action="{{ url_for_security('login') }}" method="POST" name="login_user_form" aria-label="login">
    <fieldset>
      {{ login_user_form.hidden_tag() }}
      {{ macros.render_field(login_user_form.email)}}
      {{ macros.render_field(login_user_form.password)}}
      {{ macros.render_checkbox(login_user_form.remember)}}
      {{ macros.render_field(login_user_form.lang)}}
      {{login_user_form.next}}
      <div class="form-group no-margin">
        <button type="submit" class="btn btn-primary btn-block">Login</button>
      </div>
    </fieldset>
  </form>
  </div>
</div>
</div>
{% endblock %}
