<div class="form-group" style="margin: 1.5rem auto 1.5rem auto;">
  <label class="col-md-2 control-label">{{ field.label }}</label>
  {{ html_hidden_input }}
  <div class="col-md-10">
    {% set img = field.get_image(kwargs.value) %}
    <div class="row">
      <div class="col-md-3">
        <img id="{{ kwargs.id }}_image_preview" class="img-responsive" src="{{ img.thum_url if img else "" }}" alt="{{ img.title }}"/>
        {% if not kwargs.value %}
          <p class="fa fa-image fa-3x"><span class="sr-only">Nothing selected</span></p>
        {% endif %}
      </div>
      <div class="col-md-4">
        {% if kwargs.value %}
        <p class="h4 muted">{{ img.title }}</p>
        {% endif %}
        <button href="{{ url_for("image_admin.index_view", embedded=True) }}" data-lity data-img-id="{{ kwargs.id }}_image_preview" class="btn btn-default" style="margin-bottom:0;">
        {% if kwargs.value %}
          {{ gettext("Change image") }}
        {% else %}
          {{ gettext("Select an image") }}
        {% endif %}
        </button>
      </div>
      <div class="col-md-offset-5"></div>
    </div>
  </div>
</div>
