{% extends 'security/base.html' %}
{% import 'starlit/core/macros.html' as macros with context %}


{% block title %}Login {% endblock %}

{% block content %}
{{ macros.messages() }}
<div class="row">
  <div class="col-md-4 col-md-offset-4">
      <div class="login-panel panel panel-default">
          <div class="panel-heading">
              <h3 class="panel-title">Sign In</h3>
          </div>
          <div class="panel-body">
            <form action="{{ url_for_security('login') }}" method="POST" name="login_user_form" aria-label="login">
            <fieldset>
              {{ login_user_form.hidden_tag() }}
              {{ macros.render_field(login_user_form.email)}}
              {{ macros.render_field(login_user_form.password)}}
              {{ macros.render_checkbox(login_user_form.remember)}}
              {{ macros.render_field(login_user_form.lang)}}
              {{login_user_form.next}}
              <div class="panel-footer">
              <input type="submit" class="btn btn-lg btn-info" value="Login"/>
              <hr />
              <a href="{{url_for('security.forgot_password')}}" >Forgot Your Password? </a>
              </div>
            </fieldset>
          </form>
          </div>
      </div>
  </div>
</div>
{% endblock %}
