{% macro select_file(name, path) %}
<button class="select-file" data-path="{{path}}"><span class="fa fa-check"></span> {{_trans('Select') ~ ' ' ~ name }}</button>
{% endmacro %}

{% macro tinymce_scripts() %}
    <script>
        var __file_browser_url = "";
        var __language = "{{lang}}";
        var __lang_dir = "{{'rtl' if rtl else 'ltr'}}";
        var __images_base_url = "#";
  </script>
  <script src="{{ admin_plugin_static('vendor/tinymce/tinymce.min.js') }}"></script>
  <script src="{{ admin_plugin_static('js/tinymce-setup.js') }}"></script>
{% endmacro %}

{% macro render_field(field) %}
{% if field.widget.input_type != 'hidden' %}
  <div class="form-group">
    <label for="{{field.html_id}}" class="control-label">{{field.label}}</label>
    <div>
      {{field(class="form-control")}}
      <p class="help-block text-info">{{field.description}}</p>
      {% for error in field.errors %}
        <p class="help-block text-danger">{{error}}</p>
      {% endfor %}
    </div>
  </div>
  {% else %}
    {{field}}
{% endif %}
{% endmacro %}


{% macro render_form(form, action=None, title='', submit_text='Submit') %}
<form class="form-horizontal" action="{{action or request.url}}" method="post">
  <fieldset>
    <legend><h3></h3>{{title}}</legend>
    {% for field in form %}
      {{render_field(field)}}
    {% endfor %}
    <div class="form-group">
      <div class="col-lg-8 col-lg-offset-2">
        <input type="submit" class="btn btn-info" value="{{submit_text}}" />
      </div>
    </div>
  </fieldset>
</form>
{% endmacro %}

{% macro ajax_csrf_enabler() %}
  <script>
  var csrftoken = $('meta[name=csrf-token]').attr('content');
  $.ajaxSetup({
beforeSend: function(xhr, settings) {
    if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type) && !this.crossDomain) {
        xhr.setRequestHeader("X-CSRFToken", csrftoken)
      }
    }
  })
  </script>
{% endmacro %}

{% macro load_inline_edit_preqs() %}
<link href="{{ admin_plugin_static('css/editable.css') }}" rel="stylesheet"/>
<link href="{{ admin_plugin_static('vendor/bootstrap-daterangepicker/daterangepicker-bs3.css') }}" rel="stylesheet"/>
<link href="{{ admin_plugin_static('vendor/animate.css') }}" rel="stylesheet" type="text/css">
<script src="{{ admin_plugin_static('vendor/jeditable/jquery.jeditable.js') }}"></script>
<script src="{{ admin_plugin_static('vendor/moment.min.js') }}"></script>
<script src="{{ admin_plugin_static('vendor/bootstrap-daterangepicker/daterangepicker.js') }}"></script>
<script src="{{ admin_plugin_static('vendor/bootstrap-switch/bootstrap-switch.min.js') }}"></script>
{{tinymce_scripts()}}
<script src="{{ admin_plugin_static('vendor/bootstrap-notify/bootstrap-notify.min.js') }}" type="text/javascript"></script>
<script src="{{ admin_plugin_static('js/jeditable-inputs.js') }}"></script>
<script src="{{ admin_plugin_static('js/editable.js') }}"></script>
{{ ajax_csrf_enabler() }}
{% endmacro %}

{% macro load_editable() %}
    {% if should_enable_inline_editing %}
      {{ load_inline_edit_preqs() }}
    {% endif %}
{% endmacro %}